body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
}

#menu {
	width: 50px;
	height: 100%;
	background-color: rgb(59, 62, 65);
	color: white;
	position: fixed;
	z-index: 2;
}

#options {
	position: absolute;
	width: 50px;
	text-align: center;
  	top: 50%;
  	transform: translateY(-50%);
}

#options i {
	font-size: 2em;
	background-color: rgb(59, 62, 65);

	height: 100%;
	width: 50px;
	padding: 10px 0;

	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	cursor: pointer;
	color: white;
}

#main {	
	margin-left: 50px;
	text-align: center;
	height: 100%;
}

#main h1 {
	font-size: 5vw;
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
}

@media screen and (max-width: 900px) {
    #menu {
 		height: 50px;
		width: 100%;
		background-color: rgb(59, 62, 65);
		position: relative;
		text-align: center;
    }

    #options {
    	width: 100%;
		position: relative;
		text-align: center;
		top: 0;
		left: 50%;
	  	transform: translateX(-50%);
	}

	#options i {
		background-color: transparent;
	}

	#main {
		margin-left: 0;
		text-align: center;
	}
}