body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
}

#menu {
	width: 50px;
	height: 100%;
	background-color: rgb(59, 62, 65);
	text-align: center;
	color: white;
	position: fixed;
	z-index: 99;
}

#options {
	/*background-color: rgb(59, 62, 65);*/
	/*background-color: red;*/
	position: absolute;
	/*margin-left: -2px;*/
	/*height: 100px;*/
	/*padding-top: 30px;*/
	width: 50px;
	text-align: center;

  	top: 50%;
  	transform: translateY(-50%);
  	
  	/*Fix for mobile*/
  	/*margin-top: -100px;*/
}

#options span {
	font-size: 2em;
	background-color: rgb(59, 62, 65);
	/*background-color: red;*/

  	margin-bottom: 10px;
  	margin-left: -40px;
	padding-top: 10px;
	padding-left: 40px;

  	width: 90px;
	height: 50px;

	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	cursor: pointer;
	color: white;
}

#main {	
	margin-left: 50px;
	text-align: center;
	height: 100%;
}

#main h1 {
	font-size: 5vw;
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
}