body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

#menu {
	width: 50px;
	height: 100%;
	background-color: rgb(59, 62, 65);
	text-align: center;
	color: white;
	position: fixed;
	z-index: 99;
}

#map {
	background-color: rgb(59, 62, 65);
	position: absolute;
	margin-left: -2px;
	height: 50px;
	width: 50px;
	text-align: center;

	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	cursor: pointer;

  	top: 50%;
  	transform: translateY(-50%);
}

#map span {
	font-size: 2em;
	top: 50%;
  	transform: translateY(-50%);
}

#main {	
	margin-left: 50px;
	text-align: center;
	height: 100%;
}

#main h1 {
	font-size: 5vw;
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
}