html {
	height: 100%;
}

body {
	/*background: url("http://cache.clickcamboriu.com.br/2015/02/dom-jaime.jpg") no-repeat center center fixed;*/
	background: url("http://s006.radikal.ru/i215/1010/ec/c29bf435b98b.jpg") no-repeat bottom fixed;
	background-size: 1500px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
}

#topMenu {
	background-color: blue;
	position: relative;
}

#counter {
	text-align: center;
	background-color: red;
	width: 130px;
	height: 150px;
	position: absolute;
}

#status {
	float: right;
	text-align: center;
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 10px;
	width: 130px;
	height: 150px;
	background-color: green;
}

.nada {
	font-size: 2em;
}

.dengue {
	padding-top: 10px;
	font-size: 1.5em;
}

.zika {
	font-size: 2em;
}

.chikungunya {
	padding-top: 20px;
	font-size: 0.9em;
}

#gameZone {
	width: 100%;
	height: 100%;
}

#over {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -125px;
	width: 400px;
	height: 250px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 1em;
	z-index: 3;
}

#over h1 {
	color: yellow;
	font-size: 2em;
}

.aedes {
	/*background-image: url("http://4.bp.blogspot.com/-922U1dBfps4/TpvrXSLrLKI/AAAAAAAABys/iKL9Vx5M1xE/s1600/nyamuk2.gif");*/
	background-image: url("../img/mosquitos/mosquitos_mosquito_0.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
	position: absolute;
}

.tire {
	background: url("../img/tire.png") no-repeat;
	background-size: 100%;
	width: 100px;
	height: 74px;
	position: absolute;
	margin-top: 0px;
}

.clock {
	background: url("http://worldartsme.com/images/alarm-clock-free-clipart-1.jpg") no-repeat;
	background-size: 100%;
	width: 35px;
	height: 32px;
	position: absolute;
}

#blackCurtains {
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

@media only screen and (max-width: 400px) {
	#over {
		width: 310px;
		margin-left: -155px;
	}
}