html { 
	height: 100%
}

body { 
	height: 100%;
	margin: 0;
	padding: 0;
}

#menus {
	position: fixed;
	/*width: -210px;*/
	z-index: 1;
	height: 80%;
}

.panel-heading {
	width: 250px;
	cursor: pointer;
}

#titlePlaces {
	display: inline;
}

#airplane {
	float: right;
}

#gift {
	float: right;
}

#leftMenu {
	/*float: left;*/
	margin-left: -200px;
	margin-top: 20px;
	width: 210px;
	position: absolute;
	height: 100%;
	z-index: 2;
}

#leftMenuWishList {
	margin-left: -200px;
	margin-top: 60px;
	width: 210px;
	position: absolute;
	z-index: 1;
}

/*#rightMenu {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width: 210px;
}*/

#countries, #countries2 {
	max-height: 90%;
	overflow: auto;
}

.accordion, #accordion2 {
	margin-top: -10px;
	margin-bottom: -10px;
}

.cities {
	margin-left: 10%;
}

#map-canvas {
	height: 100%;
	position: relative;
}

.photo {
	max-width: 100%;
	max-height: 100%;
}